**Aim:**
* List comprehension
* Generator expression
* Tuple
    * As Record
    * As immutable list
* Sequence slicing
* Repeated concatenation
* Sort and Sorted
* Array.array
* Numpy and Scipy
* collection.deque

**1. List Comprehension**

In [18]:
symbols = '$#%&@'
codes = []
for symbol in symbols:
    codes.append(ord(symbol))
codes

[36, 35, 37, 38, 64]

In [22]:
# previous code can be written using list comprehension as 
codes = [ord(symbol) for symbol in symbols]
codes

[36, 35, 37, 38, 64]

In [44]:
# One more example
X = 'ABC'
print([x for x in X])
print([ord(x) for x in X])

['A', 'B', 'C']
[65, 66, 67]

In [46]:
# logical expression with list comprehension
b_ascii = [ord(x) for x in symbols if ord(x)>44]
b_ascii

[64]

In [40]:
# List comprehension vs map and filter

b_ascii = list(filter(lambda c: c > 44, map(ord, symbols)))
b_ascii

[64]

In [43]:
# Cartesian Products
colors = ['black', 'white']
sizes = ['S', 'M', 'L']
for color in colors:
    for size in sizes:
        print((color, size))

('black', 'S')
('black', 'M')
('black', 'L')
('white', 'S')
('white', 'M')
('white', 'L')

In [42]:
# Cartesian Product with List comprehension
colors = ['black', 'white']
sizes = ['S', 'M', 'L']
[(color, size) for color in colors for size in sizes]

[('black', 'S'),
 ('black', 'M'),
 ('black', 'L'),
 ('white', 'S'),
 ('white', 'M'),
 ('white', 'L')]

In [48]:
# to arrange by size
[(color, size) for size in sizes for color in colors]

[('black', 'S'),
 ('white', 'S'),
 ('black', 'M'),
 ('white', 'M'),
 ('black', 'L'),
 ('white', 'L')]

**2. Generator Expressions**

In [60]:
# Initializating tuple from generaor
symbols = '$#%&@'
tuple(ord(symbol) for symbol in symbols)

(36, 35, 37, 38, 64)

In [61]:
(ord(symbol) for symbol in symbols)

In [62]:
# Initializating array from generator
import array
array.array('I', (ord(symbol) for symbol in symbols))

array('I', [36, 35, 37, 38, 64])

In [63]:
('I', (ord(symbol) for symbol in symbols))

('I', <generator object <genexpr> at 0x000002285EB1A270>)

In [66]:
# Cartesian product in a generator expression

colors = ['black', 'white']
sizes = ['S', 'M', 'L']
for tshirt in ('%s %s' %(c, s) for c in colors for s in sizes):
    print(tshirt)

black S
black M
black L
white S
white M
white L

**3. Tuple**

**3.1 Tuple as records**

* Tuple hold records: each item in the tuple holds the data for one field and the position of the item gives its meaning.

In [75]:
coordinates = (33.33, -11.64)
city, year, pop, chg, area = ('Tokyo', 2003, 2345, 0.4, 8023)
traveler_ids = [('USA', '3253'), ('BRA', 'C3134Q'), ('ESP', 'XDAT4')]

for passport in sorted(traveler_ids):
    print('%s/%s' %passport)

BRA/C3134Q
ESP/XDAT4
USA/3253

In [76]:
for country, _ in traveler_ids:
    print(country, _)

USA 3253
BRA C3134Q
ESP XDAT4

In [78]:
# tuple unpacking
coordinates = (33.33, -11.64)
lattitude, longitude = coordinates
print(lattitude, longitude)

33.33 -11.64

In [79]:
# swapping

lattitude, longitude = longitude, lattitude
print(lattitude, longitude)

-11.64 33.33

In [80]:
divmod(20, 8)

(2, 4)

In [83]:
t = (30, 8)
divmod(*t)

(3, 6)

In [84]:
quotient, remaider = divmod(*t)
quotient, remaider

(3, 6)

In [88]:
import os

_, filename = os.path.split('/home/sonu/document/hello.txt')

filename

'hello.txt'

In [89]:
# using * to grap excess items

a, b, *rest = range(5)
a, b, rest

(0, 1, [2, 3, 4])

In [90]:
a, b, *rest = range(3)
a, b, rest

(0, 1, [2])

In [91]:
a, b, *rest = range(2)
a, b, rest

(0, 1, [])

In [92]:
a, *body, c, d = range(10)
a, body, c, d

(0, [1, 2, 3, 4, 5, 6, 7], 8, 9)

In [100]:
# Nested tuple unpacking

metro_areas = [
    ('Tokyo', 'JP', 36.933, (35.689722, 139.691667))
]
print('{:15} | {:^9} | {:^9}'.format('', 'lat.', 'long.'))
fmt = '{:15} | {:^9.4f} | {:^9.4f}'
for name, cc, pop, (lattitude, longitudeu) in metro_areas:
    print(fmt.format(name, lattitude, longitude))

                |   lat.    |   long.
Tokyo           |  35.6897  |  33.3300

In [102]:
metro_areas = [
    ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
    ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
    ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
    ('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833)),
]
print('{:15} | {:^9} | {:^9}'.format('', 'lat.', 'long.'))
fmt = '{:15} | {:^9.4f} | {:^9.4f}'
for name, cc, pop, (lattitude, longitudeu) in metro_areas:
    print(fmt.format(name, lattitude, longitude))

                |   lat.    |   long.
Tokyo           |  35.6897  |  33.3300
Delhi NCR       |  28.6139  |  33.3300
Mexico City     |  19.4333  |  33.3300
New York-Newark |  40.8086  |  33.3300
Sao Paulo       | -23.5478  |  33.3300

In [103]:
# Named tuple 

from collections import namedtuple

City = namedtuple('City', 'name country population coordinate')
tokyo = City('Tokyo', 'JP', 36.36, (1234.234, 32.3566))
tokyo

City(name='Tokyo', country='JP', population=36.36, coordinate=(1234.234, 32.3566))

In [104]:
tokyo.population

36.36

In [105]:
tokyo.coordinate

(1234.234, 32.3566)

In [106]:
City._fields

('name', 'country', 'population', 'coordinate')

In [110]:
LatLong = namedtuple('LatLong', 'lat long')

In [111]:
delhi_data = ('Delhi NCR', 'IN', 21.343, LatLong(23.134, 36.3342))
delhi_data

('Delhi NCR', 'IN', 21.343, LatLong(lat=23.134, long=36.3342))

In [112]:
delhi = City._make(delhi_data)
delhi

City(name='Delhi NCR', country='IN', population=21.343, coordinate=LatLong(lat=23.134, long=36.3342))

In [114]:
delhi._asdict()

{'name': 'Delhi NCR',
 'country': 'IN',
 'population': 21.343,
 'coordinate': LatLong(lat=23.134, long=36.3342)}

In [116]:
for key, value in delhi._asdict().items():
    print(key + ':', value)

name: Delhi NCR
country: IN
population: 21.343
coordinate: LatLong(lat=23.134, long=36.3342)

**3.2 Touple as immutable lists**